body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url(download\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:blur(50%);
}
nav{
    margin-top: 0px;
    background-color: aliceblue;
    position: fixed;
    justify-content: space-between;
    display: flex;
    height: 40px;
    width: 100%;
}
.menu{
    display: flex;

}
.icon{
    margin: 10px;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(download.webp);
}
.menus{
    margin: 10px;
    width: 20px;
    height: 20px;
    display: block;
    

}
.navbar{
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content:space-around;
}
.search{
    padding: 10px;
    padding-right: 100px;
}


.container{
    padding: 10px;
    
}
.container>h1{
    color: aqua;
}
.slot{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;

}
.card{
    margin :17px;
    display: block;
    border: 2px solid black;
    border-radius: 15px;
    height: 300px;
    width: 450px;
    border: 2px solid black;
    border-radius: 15px;

}
.first{
    background-image:url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}.second{
    background-image:url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.third{
    background-image:url(download\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.forth{
    background-image:url(download\ \(3\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.description{
    text-align: center;
    align-items: center;

}
.description>h1{
    color:red;
}

footer{
    text-align: center;
    align-items: center;
    color: black;
    background-color:white ;
}

.tell{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 20px;
    
}